<!-- <hr class="solid"> -->
<div class="hline"></div>
<div class="container">
    <div class="left-container">
        <div class="mail-container">
            <a href="mailto:sp799.iimt@gmail.com" class="mail-box">
                <img src="https://uploads-ssl.webflow.com/61f03747d8d407ed117df27f/61fa2fddbcda0616c1faa395_Mail%20Icon.svg" alt="mailIcon">
                <h1 class="mailText">sp799.iimt@gmail.com</h1>
            </a>
        </div>
        <div class="phone-container">
            <a href="#" class="phone-box">
                <img src="https://uploads-ssl.webflow.com/61f03747d8d407ed117df27f/61fa307e4c3858f26c8df537_Phone%20Icon.svg" alt="phoneIcon">
                <h1 class="mailText">+91 7992435218</h1>
            </a>
        </div>
    </div>
    <div class="right-container">
        <div class="page-box">
            <div class="title1">
                <h4>PAGES</h4>
            </div>
            <ul>
                <li>Home</li>
                <li>Services</li>
                <li>Projects</li>
                <li>About Me</li>
                <li>Blogs</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="page-box">
            <div class="title1">
                <h4>SOCIAL MEDIA</h4>
            </div>
            <ul>
                <li><a href="https://twitter.com/Saurabh36390761">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/saurabh-patel-ba7686179">LinkedIn</a></li>
                <li><a href="https://www.facebook.com/saurabhcassius/">Facebook</a></li>
                <li><a href="https://www.instagram.com/saurabhcassius/">Instagram</a></li>
                <li><a href="https://www.youtube.com/channel/UCEeZ2rpZ78gkVM8asUfhsMg/featured">Youtube</a></li>
            </ul>
        </div>
        <div class="page-box">
            <div class="title1">
                <h4>VISIT</h4>
            </div>
            <p>
                C/O Rajendra Patel Gumti Number 2, Mogal Bazar, Munger, Bihar 811201
            </p>
        </div>
    </div>
</div>
<div class="copyright">
    © All rights reserved. Powered by Saurabh Patel.
</div>