<div class="info">
    <div class="container">
        <div class="heading1">
            <h1 class="gradient-text">Fullstack Developer</h1>
        </div>
        <div class="heading2">
            <h1>developing softwares</h1>
        </div>
        <div class="heading3">
            <h1>that people love</h1>
        </div>
        <div class="txt">
            <p class="body-1 hero-paragraph">
                I'm Saurabh Patel— a developer who works with startups looking to push creative boundaries and create unique user experiences.
            </p>
        </div>
        <div class="book-btn">
            <a class="gradient-button w-button">Book a FREE Call</a>
        </div>
    </div>
    <div class="hero-image-div">
        <img class="hero-image-bg" src="https://uploads-ssl.webflow.com/61f03747d8d407ed117df27f/61f11c12ccb99e089078fc33_Main%20Image%20BG.png" width="522">
        <img class="hero-image" src="../assets/saurabh.png" alt="Saurabh Image">
    </div>
</div>